body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000000; 
}

#calculator{
  border: 1px solid rgb(160, 156, 156);
  border-radius: 5px;
  width: 200px;
  background-color: gray;
}
#display{
  margin: 10px;
  width: 85%;
  font-size: 25px;
}
.button{
  width: 45px;
  height: 45px;
  margin: 3px;
}
.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
